* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading {
        font-size: 1.6rem;
        margin-bottom: 10px;
        color: blueviolet;
    }

    .newTodo {
        padding: 5px;
        width: 600px;
        border: 1px solid orange;
        outline: none;
    }

    .todo-container {
        margin-top: 10px;
        width: 600px;
        height: 206px;
        overflow: scroll;
        overflow-x: auto;

        li {
            display: flex;
            border: 1px solid blueviolet;
            margin-bottom: 5px;
            padding: 5px;
            color: orange;

            .checkbox {
                margin-right: 7px;
            }
        }
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 600px;
        background-color: orange;
        padding: 5px;
        color: blueviolet;

        button {
            margin-right: 5px;
            padding: 5px;
            border: none;
            outline: none;
            background-color: transparent;
            color: blueviolet;
        }

        .active {
            font-weight: bold;
            border: 1px solid blueviolet;
        }
    }
}
